@charset "UTF-8";

.fc-time-grid-event.fc-event.fc-start.fc-end.fc-draggable.fc-resizable {
    border-style: hidden !important;
    margin: 0px !important;
    background-color: #646bff;
    border-radius: 0 !important;
    left: 0 !important;
    color: transparent;
}

.fc-time-grid-event.fc-event.fc-start.fc-end.fc-draggable.fc-resizable.fc-time-grid-event-inset {
    z-index: 0 !important;
}

.btn-gradient {
    color: #ffffff !important;
}

.login100-form-btn {
    background-color: #646bff !important;
    -webkit-box-shadow: 0 0 0 0 rgba(87, 184, 70, 0.5) !important;
}