<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email</title>
</head>
<body>
    <h1> 준호가 만든 웹앱 들어갈 자리다</h1>
    <a href="{% url 'notice:control' %}">관리 </a>
    <a href="{% url 'notice:join' %}">아직도 회원이 아니세요?</a>
    <a href="{% url 'notice:login' %}">로그인</a>
    <h1>-----------소융대 공지사항-------------------------</h1>
    {% for notice in notice_list%}
        <h3>{{notice.title}}}</h3>
    {% endfor%}
    <h1>-----------국민대 공지사항-------------------------</h1>
    {% for km_notice in km_notice_list %}
        <h2>{{km_notice.km_title}}</h2>
    {% endfor %}




</body>
</html>