<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>KTIS Users</h1>
</div>

{% if user_list %}
    <ul>
        {% for username in user_list %}
            <a href="{% url 'timetable:delete' username_text=username.username_text %}">{{ username.username_text }}</a>
        {% endfor %}
    </ul>
{% else %}
    <p>No user are available.</p>
{% endif %}
<a href="{% url 'timetable:adduser' %}">사용자추가</a>
<a href="{% url 'timetable:result' %}">시간표계산</a>

</body>
</html>