@charset "UTF-8";

.fc-time-grid-event.fc-event.fc-start.fc-end.fc-draggable.fc-resizable {
    border-style: hidden !important;
    margin: 0px !important;
    background-color: darkred;
    border-radius: 0 !important;
    left: 0 !important;
    color: transparent;
}

.fc-time-grid-event.fc-event.fc-start.fc-end.fc-draggable.fc-resizable.fc-time-grid-event-inset {
    z-index: 0 !important;
}